/* Ogólne style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 10px;
}

/* Główna struktura aplikacji */
.app-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

main {
    margin-top: 20px;
}

/* Styl przycisku */
.confirm-button {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Efekt przyciśnięcia przycisku (stały stan) */
.confirm-button.active {
    background-color: #388e3c;
    transform: translateY(4px); /* Przycisk pozostaje "wciśnięty" */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: none; /* Uniemożliwia ponowne kliknięcie, dopóki nie zostanie wycofane */
}

/* Efekt hover (tylko, gdy przycisk nie jest wciśnięty) */
.confirm-button:hover {
    background-color: #45a049;
}

/* Styl dla komunikatu */
.message {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Styl przycisku cofnij */
.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #e53935;
}
